/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5); /* Dim background */
    transition: opacity 0.3s ease;
    z-index: 900;
    opacity: 0;
    pointer-events: none;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* Sidebar */
.sidebar-wrapper {
    z-index: 10; /* Higher than the overlay */
}

/* Make the categories dropdown wide enough for text */
.sidebar-wrapper .dropdown-menu {
    min-width: 250px; /* Adjust as needed (220px, 300px, etc.) */
}
